package view

templ BaseStyle() {
  <link rel="stylesheet" crossorigin href="css/animation.css"/>
  <link rel="stylesheet" crossorigin href="css/colors.css"/>
  <link rel="stylesheet" crossorigin href="css/dimensions.css"/>
  <link rel="stylesheet" crossorigin href="css/elements.css"/>
  <link rel="stylesheet" crossorigin href="css/flex_grid.css"/>
  <link rel="stylesheet" crossorigin href="css/spacing.css"/>
  <link rel="stylesheet" crossorigin href="css/typography.css"/>
}

templ IndexStyle(stylePath string) {
  <link rel="stylesheet" crossorigin href={stylePath}/>
}
