package view

import (
  "os"
  "strings"
  "github.com/NLCaceres/goth-example/internal/util/stringy"
  "github.com/NLCaceres/goth-example/internal/util/list"
)

templ head(title string, pageStyle templ.Component) {
  <head>
    <title>{ title }</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" href="data:;base64,=">

    @BaseStyle()
    if pageStyle != nil {
      @pageStyle
    }
  </head>
}

templ navbar(navItems []string) {
  <nav class="px-4 pb-8">
    {{ routeMap := stringy.Map(os.Getenv("ROUTE_MAP")) }}
    <ul class="navList flex row-wrap">
      for _, navItem := range list.DistinctBy(navItems, strings.ToLower) {
        if !strings.Contains(navItem, "-") {
          <li class="navListItem mt-4 px-4 flex-grow text-center">
            <a href={ navItem }>
              { stringy.PresenterMapValue(routeMap, navItem) }
            </a>
          </li>
        }
      }
    </ul>
  </nav>
}

templ footer() {
  <footer></footer>
}

templ HTMLIndex(contents templ.Component, title string, pageStyle templ.Component) {
<!DOCTYPE html>
<html>
  @head(title, pageStyle)
  <body>
    @navbar(strings.Split(os.Getenv("APP_ROUTES"), ","))
    <main class="flex centered h-100 mx-4 md:mx-8">
      @contents
    </main>
    @footer()
  </body>
</html>
}
