package view

import (
  "github.com/NLCaceres/goth-example/internal/model"
  "github.com/NLCaceres/goth-example/internal/util/list"
)

templ Path(items []model.Item) {
  <div class="slides-up transitionable">
    {{ path := ctx.Value("param").(string) }}
    <h1>{ path } - Normal Links</h1>
    <p>Links that simply take the user to the URL provided by the Item struct</p>
    @itemList(items)

    <h1>{ path } - Traditional Hashed Same Page Links</h1>
    <p>Links to sections on the same page made by appending a hash and section name</p>
    {{ hashItems, _ := list.ForEach(items, func(i model.Item) (model.Item, error) {
      i.URL = "#" + i.URL; return i, nil
    })}}
    @itemList(hashItems)

    <h1>{ path } - Modern Slashed then Hashed Same Page Links</h1>
    <p>Links that append a slash then a hash-prefixed section name to current page path</p>
    {{ slashHashItems, _ := list.ForEach(items, func(i model.Item) (model.Item, error) {
      i.URL = path + "/#" + i.URL; return i, nil
    })}}
    @itemList(slashHashItems)

    <h1>{ path } - Modern Slashed then Hashed Other Page Links</h1>
    <p>Links that go to other pages with an appended slash then hash-prefixed section</p>
    {{ outSlashHashItems, _ := list.ForEach(items, func(i model.Item) (model.Item, error) {
      i.URL = i.Name + "/#" + i.URL; return i, nil
    })}}
    @itemList(outSlashHashItems)
  </div>
}

templ itemList(items []model.Item) {
  <ul>
    for i, item := range items {
      <li class="grid listItem grid-transition">
        <div class="itemName flex centered cross-centered bg-gray-700">
          <p>{ i + 1 }</p>
        </div>
        <div class="itemLink flex flex-column bg-gray-700 hide-overflow text-line-3">
          <a href={ item.URL } class="text-xl">
            { item.Name }
          </a>
          <p class="m-0 mt-1 text-white">
            { item.Description }
          </p>
        </div>
        <div class="itemButton flex centered cross-centered bg-gray-700">
          <button type="button" class="h-80">Done?</button>
        </div>
      </li>
    }
  </ul>
}
