/* Animation helpers */
.slides-up {
  transform: translateY(25%);
}

.slides-up:hover {
  transform: translateY(0%);
}

.transitionable {
  transition: all 1s;
}

.grid-transition {
  transition: grid-template-rows 1s;
}
