/* Convenient color helpers particular to the app & its theming */

.hover\:bg-black:hover {
  background-color: black;
}

.focus\:bg-black:focus {
  background-color: black;
}

.bg-gray-700 {
  background-color: #374151;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.bg-white {
  background-color: white;
}

/* Nuance: Sets background-image to none AND implicitly background-color to transparent */
.bg-none {
  background: none;
}
