/* App-wide classes, particularly for `@HTML` template direct children like nav or body */

/* Navbar classes */
.navList {
  list-style-type: none;
}

.navListItem {
  width: 20%;
  font-size: 1rem;
}

@media (max-width: 575px) {
  .navListItem {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .navListItem {
    font-size: 1.5rem;
  }
}
