*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline
}

:root {
  --spacing: 0.25rem;
}

/* Normal HTML tag styling */
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262626;
}

h1 {
  color: white;
}

p {
  color: white;
}

li {
  color: white;
}

a {
  color: chartreuse;
}

/* App-specific styles */
.navList {
  list-style-type: none;
}

.navListItem {
  width: 20%;
  font-size: 1rem;
}

@media (max-width: 575px) {
  .navListItem {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .navListItem {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  .items {
    column-count: 2;
  }
}

.listItem {
  grid-template-columns: [name] 1fr [link] 4fr [button] 1fr 2fr;
  grid-template-rows: 0fr;
}

@media (width <=768px) {
  .listItem {
    grid-template-columns: [name] 1fr [link] 3fr [button] 1fr;
  }
}

.listItem:has(.itemLink:hover) {
  grid-template-rows: 1fr;
}

.itemName {
  grid-column: name;
}

.itemLink {
  grid-column: link;
  /* Min-height should = space needed for url + description + margins/spacing */
  min-height: calc(1.5rem + (2 * 17px * 1.2) + (2 * 0.25rem))
}

.listItem>.no-ellipsis {
  display: flex;
  line-clamp: none;
  -webkit-line-clamp: none;
  -webkit-box-orient: inline-axis;
}

.itemButton {
  grid-column: button;
}

/* Commonly grouped Grid & Flexbox stylings */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.row-wrap {
  flex-flow: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.centered {
  justify-content: center;
}

.cross-centered {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

/* Color helpers */
.bg-gray-700 {
  background-color: #374151;
}

/* Size helpers */
.h-80 {
  height: 80%;
}

.h-100 {
  height: 100%;
}

/* Spacing helpers */
.m-0 {
  margin: calc(var(--spacing) * 0);
}

.mt-1 {
  margin-top: calc(var(--spacing) * 1);
}

.mt-4 {
  margin-top: calc(var(--spacing) * 4);
}

.mb-4 {
  margin-bottom: calc(var(--spacing) * 4);
}

.ml-4 {
  margin-left: calc(var(--spacing) * 4);
}

.my-4 {
  margin-top: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 4);
}

.mx-4 {
  margin-left: calc(var(--spacing) * 4);
  margin-right: calc(var(--spacing) * 4);
}

@media (min-width: 576px) {
  .md\:mx-8 {
    margin-left: calc(var(--spacing) * 8);
    margin-right: calc(var(--spacing) * 8);
  }
}

.mx-12 {
  margin-left: calc(var(--spacing) * 12);
  margin-right: calc(var(--spacing) * 12);
}

.pb-8 {
  padding-bottom: calc(var(--spacing) * 8);
}

.px-4 {
  padding-left: calc(var(--spacing) * 4);
  padding-right: calc(var(--spacing) * 4);
}

/* Typography */
.text-xl {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-line-3 {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.hide-overflow {
  overflow: hidden;
}

.text-bright-green {
  color: chartreuse;
}

.text-white {
  color: white;
}

/* Animation helpers */
.slides-up {
  transform: translateY(25%);
}

.slides-up:hover {
  transform: translateY(0%);
}

.transitionable {
  transition: all 1s;
}

.grid-transition {
  transition: grid-template-rows 1s;
}
