@media (min-width: 576px) {
  .items {
    column-count: 2;
    column-gap: 5rem;
  }
}

@media (width >=1200px) {
  .items {
    column-count: 3;
  }
}

.listItem {
  grid-template-columns: [name] 1fr [link] 4fr [button] 1.25fr;
  grid-template-rows: [item] 0fr;
}

@media (width <=768px) {
  .listItem {
    grid-template-columns: [name] 1fr [link] 3fr [button] 1.5fr;
  }
}

.listItem:nth-child(even) {
  grid-template-areas: "button link name";
  grid-template-columns: [name] 1.25fr [link] 4fr [button] 1fr
}

@media (width <=768px) {
  .listItem:nth-child(even) {
    grid-template-columns: [name] 1.5fr [link] 3fr [button] 1fr;
  }
}

.listItem:has(.itemLink:hover) {
  grid-template-rows: [item] 1fr;
}

.itemName {
  grid-area: item / name;
}

.listItem:nth-child(odd) .itemName {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.listItem:nth-child(even) .itemName {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.itemNameCover {
  outline: 3px solid;
  outline-offset: 8px;
  height: 60px;
  width: 60px;
  transform: rotate(45deg) translate(-20%, 20%);
  transition: outline-color 500ms, background-color 500ms;
}

@media (max-width: 768px) {
  .itemNameCover {
    height: 50px;
    width: 50px;
    outline-offset: 5px;
  }
}

.listItem:nth-child(even) .itemNameCover {
  transform: rotate(45deg) translate(20%, -20%)
}

.itemNameCover.bg-red {
  outline-color: red;
}

.itemNameCover.bg-green {
  outline-color: green;
}

.itemNameID {
  transform: rotate(-45deg);
}

.itemLink {
  grid-area: item / link;
  text-align: end;
  padding-right: 2rem;
  padding-left: 0.5rem;
  /* Min-height = Link text (1.5rem) + 2 Description lines + mt-1 + (py-1 * 3) */
  min-height: calc(1.5rem + (2 * 17px * 1.2) + (4 * 0.25rem));
  line-height: 1.25;
}

.listItem>.no-ellipsis {
  display: flex;
  line-clamp: none;
  -webkit-line-clamp: none;
  -webkit-box-orient: inline-axis;
}

.listItem:nth-child(odd) .itemLink {
  text-align: start;
  padding-left: 2rem;
  padding-right: 0.5rem;
}

@media (width <=768px) {
  .itemLink {
    padding-right: 1.5rem;
    padding-left: 0;
  }

  .listItem:nth-child(odd) .itemLink {
    padding-left: 1.5rem;
    padding-right: 0;
  }

  .itemLink>p {
    text-align: center;
  }

  .listItem:nth-child(odd) .itemLink>p {
    text-align: start;
  }
}

.itemButton {
  grid-area: item / button;
}

.listItem:nth-child(odd) .itemButton {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.listItem:nth-child(even) .itemButton {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
