@media (min-width: 576px) {
  .items {
    column-count: 2;
    column-gap: 5rem;
  }
}

@media (width >=1200px) {
  .items {
    column-count: 3;
  }
}

.listItem {
  grid-template-columns: [name] 1fr [link] 4fr [button] 1.25fr;
  grid-template-rows: [item] 0fr;
}

@media (width <=768px) {
  .listItem {
    grid-template-columns: [name] 1fr [link] 3fr [button] 1.5fr;
  }
}

.listItem:nth-child(odd) {
  grid-template-areas: "button link name";
  grid-template-columns: [name] 1.25fr [link] 4fr [button] 1fr
}

@media (width <=768px) {
  .listItem:nth-child(odd) {
    grid-template-columns: [name] 1.5fr [link] 3fr [button] 1fr;
  }
}

.listItem:has(.itemLink:hover) {
  grid-template-rows: [item] 1fr;
}

.itemName {
  grid-area: item / name;
}

.listItem:nth-child(even) .itemName {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.listItem:nth-child(odd) .itemName {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.itemNameCover {
  outline: 3px solid red;
  outline-offset: 8px;
  height: 60px;
  width: 60px;
  transform: rotate(45deg) translate(-20%, 20%);
}

@media (max-width: 768px) {
  .itemNameCover {
    height: 50px;
    width: 50px;
    outline-offset: 5px;
  }
}

.listItem:nth-child(odd) .itemNameCover {
  transform: rotate(45deg) translate(20%, -20%)
}

.itemNameID {
  transform: rotate(-45deg);
}

.itemLink {
  grid-area: item / link;
  /* Min-height should = space needed for url + description + margins/spacing */
  min-height: calc(1.5rem + (2 * 17px * 1.2) + (2 * 0.25rem))
}

.listItem>.no-ellipsis {
  display: flex;
  line-clamp: none;
  -webkit-line-clamp: none;
  -webkit-box-orient: inline-axis;
}

.itemButton {
  grid-area: item / button;
}

.listItem:nth-child(even) .itemButton {
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.listItem:nth-child(odd) .itemButton {
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
}
