.text-xl {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-line-3 {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.hide-overflow {
  overflow: hidden;
}

.visible-overflow {
  overflow: visible;
}

.text-bright-green {
  color: chartreuse;
}

.text-white {
  color: white;
}

.white-space-pre-line {
  white-space: pre-line;
}
