package reusable

// A roughly 270 degree circle that when placed in a parent with `position: relative`,
// it can act as a floating rounded border, similar to a drop shadow
templ BackingCircle(rightSided bool, color string) {
<div class="p-absolute h-100 w-100" style="z-index:-1;">
  <svg viewBox="0 0 36 36" fill="transparent" stroke={color} style="transition: stroke 500ms;"
    class={"h-100 p-absolute visible-overflow", templ.KV("p-right", rightSided)}>
    {{ d := "M32,0 A 23,21.5 0 1 0 32,36"
      if rightSided { d = "M4,0 A 23,21.5 0 1 1 4,36" } }}
    <path d={d} />
  </svg>
</div>
}
