package reusable

import (
  "fmt"
  "github.com/NLCaceres/goth-example/internal/util/boolean"
)

templ Pagination(currentPage, pageTotal int) {
  @pageNav(currentPage, pageTotal, "my-8")
  { children... }
  @pageNav(currentPage, pageTotal, "")
}

templ pageNav(currentPage, pageTotal int, class string) {
  <nav class={class} style="height:45px;" role="navigation" aria-label="pagination">
    @pages(currentPage, pageTotal, "flex")
  </nav>
}

templ pages(currentPage, pageTotal int, class string) {
<ul class={"h-100 unstyled-list", class}>
  {{ inactivePageCSS := pageStyle(false) }}
  {{ inactiveLinkCSS := linkStyle(false) }}
  if currentPage != 1 {
    @pageLink(currentPage - 1, "Back", false, "rounded-l " + inactivePageCSS, inactiveLinkCSS)
  }
  <!-- `5-p <= 5/2` handles the 2 prev page links that usually appear
  while `currentPage + p > pageTotal` handles the 3rd and 4th last page -->
  for p := 1; p < 5; p++ {
    if currentPage > 5-p && (5-p <= 5/2 || currentPage + p > pageTotal) {
      @pageLink(currentPage - (5-p), "", false, inactivePageCSS, inactiveLinkCSS)
    }
  }

  @pageLink(currentPage, "", true, pageStyle(true), linkStyle(true))

  <!-- Uses ceiling rounding to calc max # of next pages
  `p < 5/2` handles the usual 2 next page links while `currentPage < (5-p)` handles the 3rd/4th -->
  for p := 0; p <= (5 + 1) / 2; p++ {
    if currentPage + p < pageTotal && (p < 5 / 2 || currentPage < (5 - p)) {
      @pageLink(currentPage + p + 1, "", false, inactivePageCSS, inactiveLinkCSS)
    }
  }

  if pageTotal > 1 && currentPage < pageTotal {
    @pageLink(currentPage + 1, "Next", false, "rounded-r " + inactivePageCSS, inactiveLinkCSS)
  }
</ul>
}

templ pageLink(page int, name string, current bool, class, linkClass string) {
  {{ pageStr := fmt.Sprintf("%d", page) }}
  <!-- `aria-current` takes SPECIFIC values, "page" being 1, explicitly for pagination -->
  <li class={"w-5 fw-bolder flex full-centered", class}>
    <a if current { aria-current="page" } aria-label={"Go to page " + pageStr}
      href={"?page=" + pageStr} class={"h-100 w-100 flex full-centered", linkClass}>
        { boolean.Ternary(name == "", pageStr, name) }
    </a>
  </li>
}

func pageStyle(current bool) string {
  if current {
    return "bg-white hover:bg-black focus:bg-black outline-black-inset " +
      "hover:border-2-white focus:border-2-white"
  } else {
    return "hover:bg-gray-400 focus:bg-gray-400 border-white " +
      "hover:outline-black-inset focus:outline-black-inset"
  }
}

func linkStyle(current bool) string {
  if current {
    return "text-black hover:text-white focus:text-white"
  } else {
    return "text-white hover:text-black focus:text-black"
  }
}
