package reusable

import "fmt"

templ Pagination(currentPage int, pageTotal int) {
  <div>
    <div class="my-8">
      @pages(currentPage)
    </div>
    { children... }
    <div>
      @pages(currentPage)
    </div>
  </div>
}

templ pages(currentPage int) {
  <a href={fmt.Sprintf("?page=%d", currentPage-1)} class="text-white fw-bolder i-flex true-centered rounded-l"
     style="height: 45px; width: 50px; border: 1px solid white;">Back</a>
  @pageLink(currentPage - 2)
  @pageLink(currentPage - 1)
  @pageLink(currentPage)
  @pageLink(currentPage + 1)
  @pageLink(currentPage + 2)
  <a href={fmt.Sprintf("?page=%d", currentPage+1)} class="text-white fw-bolder i-flex true-centered rounded-r"
     style="height: 45px; width: 50px; border: 1px solid white;">Next</a>
}

templ pageLink(page int) {
  <a href={fmt.Sprintf("?page=%d", page)} class="text-white fw-bolder i-flex true-centered"
     style="height: 45px; width: 45px; border: 1px solid white;">{ page }</a>
}
