package items

import (
  "github.com/NLCaceres/goth-example/internal/model"
)

templ ListPage(items []model.Item) {
  <div class="slides-up transitionable">
    {{ path := ctx.Value("param").(string) }}
    <h1>{ path } - Normal Links</h1>
    <p>Links that simply take the user to the URL provided by the Item struct</p>
    @list(items)
  </div>
  <script type="module" src="js/paths.js"></script>
}

templ list(items []model.Item) {
  <ul class="items mx-12 my-4">
    for i, item := range items {
      <li class="grid listItem grid-transition mb-4">
        <div class="itemName flex centered cross-centered bg-gray-700">
          <p>{ i + 1 }</p>
        </div>
        <div class={
          "itemLink flex flex-column bg-gray-700 hide-overflow text-line-3",
          templ.KV("text-end", i % 2 != 0)
        }>
          <a href={ item.URL } class="text-xl">
            { item.Name }
          </a>
          <p class="m-0 mt-1 text-white">
            { item.Description }
          </p>
        </div>
        <div class="itemButton flex centered cross-centered bg-gray-700">
          <button type="button" class="h-80">Done?</button>
        </div>
      </li>
    }
  </ul>
}

