package index

templ head(title string, cssPaths []string) {
  <head>
    <title>{ title }</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" href="data:;base64,=">

    @StyleLinks()
    for _, cssPath := range cssPaths {
      @StyleLink(cssPath)
    }
    <link id="pageStylesheet" />
    <script src="js/htmx.js"></script>
  </head>
}

