package index

import (
  "os"
  "strings"
)

templ HTML(contents templ.Component, title string, cssPaths []string) {
<!DOCTYPE html>
<html>
  @head(title, cssPaths)
  <body>
    @navbar(strings.Split(os.Getenv("APP_ROUTES"), ","))
    <main class="flex centered h-100 mx-4 md:mx-8">
      @contents
    </main>
  </body>
</html>
}
