package index

import (
  "os"
  "strings"
  "github.com/NLCaceres/goth-example/internal/util/stringy"
  "github.com/NLCaceres/goth-example/internal/util/slice"
	"github.com/NLCaceres/goth-example/internal/view/reusable"
)

templ navbar(navItems []string) {
  <nav class="px-4 pb-8">
    {{ routeMap := stringy.Map(os.Getenv("ROUTE_MAP")) }}
    <ul class="navList flex row-wrap">
      for _, navItem := range slice.DistinctBy(navItems, strings.ToLower) {
        if !strings.Contains(navItem, "-") {
          <li class="navListItem mt-4 px-4 flex-grow text-center">
            @reusable.Link(
              stringy.PresenterMapValue(routeMap, navItem), navItem, "main.flex",
            )
          </li>
        }
      }
    </ul>
  </nav>
}
