package index

templ StyleLinks() {
  @StyleLink("css/index.css")
  @StyleLink("css/animation.css")
  @StyleLink("css/colors.css")
  @StyleLink("css/dimensions.css")
  @StyleLink("css/elements.css")
  @StyleLink("css/flex_grid.css")
  @StyleLink("css/spacing.css")
  @StyleLink("css/typography.css")
}

templ StyleLink(stylePath string) {
  <link rel="stylesheet" crossorigin href={stylePath}/>
}
