package htmx

templ Link(name string, url string, target string) {
  <a hx-get={"/" + url} hx-target={target} hx-push-url="true" hx-indicator="body"
     hx-trigger={"click[location.pathname !== '/" + url + "']"}>
       { name }
  </a>
}
