package htmx

templ Link(name string, url string, target string) {
  <a href={"/" + url} hx-boost="true" hx-target={target} hx-indicator="body"
     hx-trigger={"click[location.pathname !== '/" + url + "']"}>
       { name }
  </a>
}
