package htmx

import "github.com/NLCaceres/goth-example/internal/view/reusable"

// Uses the "htmx-indicator" class to appear while an HTMX request is in-flight
// Can target this by ID via `hx-indicator` CSS selector on the trigger element
// Can also target the parent so "htmx-request" CSS is placed to affect "htmx-indicator"
templ LoadingIndicator() {
  <div id="load-indicator" class="htmx-indicator p-center">
    @reusable.LoadingCircles()
  </div>
}
